.jumbotron{
    background-color: darkblue;
    color: white;
}
.card-header {
    background-color: lightsteelblue;
    font-size: 1.5rem;
}
.card-body {
    font-size: 1.2rem;
}
.btn {
    background-color: lightsteelblue;
}